html {
  position: relative;
}

.container#contents-all {
  margin: 1rem auto;
  border-style: groove;
  border-radius: 15px;
  border-color: #222;
  border-width: 2px;
  background-color: #eee;
}

.container h1 {
  color: #111;
  margin-left: 14.5px;
}

@media screen and (max-width: 768px) { 
  img#toppic {
    border-style: groove;
    border-radius: 15px;
    border-width: 1px;
    border-color: #222;
    width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }      
}
@media screen and (min-width:768px) {
  img#toppic {
    border-style: groove;
    border-radius: 15px;
    border-width: 1px;
    border-color: #222;
    width: 80%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
  }
}


.table {
  color: #333;
  table-layout:fixed;
}

@media screen and (max-width: 768px) {
  .table th {
      width: 30%;
    }
}
@media screen and (min-width:768px) {
  .table th {
    width: 20%;
  }
}

.table td {
  word-break : break-all; /* 表のセル内で文字を折り返す */
}

.table#profile-table {
  margin: 5px 15px 5px 0;
}

.table#education-table, .table#contacts-table, .table#news-table{
  margin: 5px 15px;
}


.footer {
  position: absolute;
  width: 100%;
  height: 80px;
  background-color: #222;
  padding-top: 10px;
}

a#goback {
  font-size: 18px;
  color: #eee;
  margin-left: 15px;
}

p#copyright {
  font-size: 9px;
  color: #eee;
  text-align: center;
  margin-top: 10px;
}
