html {
  position: relative;
}

.container#contents-all {
  margin: 1rem auto;
  border-style: groove;
  border-radius: 15px;
  border-color: #222;
  border-width: 2px;
  background-color: #eee;
}

.container h1 {
  color: #111;
  margin-left: 14.5px;
}

.container h3 {
  color: #111;
  margin-left: 14.5px;
}

.container p {
  color: #111;
  margin-left: 15.5px;
}

.nav-pills {
  content: center;
}

/* タブの文字色変更 */
.nav-pills .nav-link {
  color: #222;
}

/* アクティブなタブの色変更 */
.nav-pills .nav-link.active {
  background-color: #7A81FF;
  border-color: darkorange;
  border-style: groove;
  /* border-radius: 15px; */
  border-width: 1px;
}

.nav-pills .nav-link:not(.active) {
  background-color: #ccc;
  /* border-color: #222;
  border-style: groove; */
  /* border-radius: 15px; */
  /* border-width: 1px; */
}

/* アクティブじゃないタブ名のマウスオーバー時 */
.nav-pills .nav-link:not(.active):hover {
  /* color: #7A81FF; */
  border-color: darkorange;
  border-style: groove;
  border-width: 1px;
}

@media screen and (max-width: 768px) { 
  img#toppic {
    border-style: groove;
    border-radius: 15px;
    border-width: 1px;
    border-color: #222;
    width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  img.img-sns {
    width: 15%;
  }
}
@media screen and (min-width:768px) {
  img#toppic {
    border-style: groove;
    border-radius: 15px;
    border-width: 1px;
    border-color: #222;
    width: 80%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
  }
  img.img-sns {
    width: 10%;
  }
}
@media screen and (min-width:1024px) {
  img.img-sns {
    width: 5%;
  }
}

.table {
  color: #333;
  table-layout:fixed;
}

@media screen and (max-width: 768px) {
  .table th {
      width: 30%;
    }
}
@media screen and (min-width:768px) {
  .table th {
    width: 20%;
  }
}

.table td {
  word-break : break-all; /* 表のセル内で文字を折り返す */
}

.table#profile-table {
  margin: 5px 15px 5px 0;
}

.table#education-table, .table#contacts-table, .table#news-table, .table#social-table {
  margin: 5px 15px;
}


.footer {
  position: absolute;
  width: 100%;
  height: 80px;
  background-color: #222;
  padding-top: 10px;
}

a#goback {
  font-size: 18px;
  color: #eee;
  margin-left: 15px;
}

p#copyright {
  font-size: 9px;
  color: #eee;
  text-align: center;
  margin-top: 10px;
}
